<div [class.loading]="!isLoading" class="wrapper">
  <div [class.loading]="isLoading" class="loader">
    <p id="message">Loading..</p>
  </div>
  <app-header [class.loading]="!isLoading"></app-header>
  <app-highlights [class.loading]="!isLoading"></app-highlights>
  <app-projects [class.loading]="!isLoading"></app-projects>
  <app-contact [class.loading]="!isLoading"></app-contact>
  <app-footer [class.loading]="!isLoading"></app-footer>
</div>

<div [class.loading]="!isLoading" [class.show]="showSnackbar" id="snackbar">
  {{ snackbarMessage }}
</div>
