:root {
    --background-color-1: rgb(1, 1, 1);
    --background-color-2: rgb(212, 212, 212);
    --border-color-1: rgb(74, 74, 74);
    --border-color-2: rgb(212, 212, 212);
    --gradient1: rgb(98, 0, 234);
    --gradient2: rgb(236, 64, 122);
    --color-white: rgb(255, 255, 255);
}

*{
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

body {
    background-color: var(--background-color-1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav {
    color: var(--border-color-1);
    display: flex;
    width: 100%;
    border-bottom: 1px solid white;
    font-family: 'Space Grotesk', sans-serif;
}

#nav-mobile {
    display: flex;
    flex-basis: calc(100%*(2 / 3));
    /* z-index: 2; */
}

.nav-element {
    display: flex;
    border-right: 1px solid var(--border-color-2);
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

#nav-toggle-button { 
    align-items: center;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--border-color);
    color: white;
    cursor: pointer;
    display: none;
    gap: 0.8rem;
    height: 100%; 
    justify-content: center;
    outline: none;
    padding: 0rem 3rem;
    position: relative;
    z-index: 3;
}

.logo {
    flex-basis: calc(100%/3);
}

.about {
    display: flex;
    gap: 1rem;
    flex-basis: calc(100%/3);
}

.link {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
}

.contact-me {
    border: none;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    margin: 1rem;
    margin-top: 2rem;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 2rem;
    row-gap: 2rem;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.wrapper-panels {
    overflow: hidden;
    color: var(--background-color-1);
    background-color: var(--background-color-2);
}

.panels {
    display: grid;
    grid-template-columns: 1fr;
    transition: transform 250ms ease-in;
}

.panel {
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    padding: 2rem 5rem;
    color: var(--background-color-1);
    background-color: var(--background-color-2);
    min-height: 51.8vh;
}

.img {
    display: flex;
    gap: 5%;
    padding-top: 3%;
}

.img > img {
    max-height: 12rem;
    max-width: 1000rem;
}

h1{
    font-size: 4vw;
}

h2 {
    font-size: 3vw;
}

p {
    margin-top: 1rem;
    font-size: 1.4vw;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

.hex {
    display: grid;
    grid-template: repeat(var(--rows), 1fr)/repeat(var(--columns), 1fr);
    background: linear-gradient(to right, var(--gradient1), var(--gradient2), var(--gradient1));
    background-size: 200%;
    animation: background-pan 10s linear infinite;
    gap: 0.1rem;
    border: 0.1rem solid;
    border-image-source: linear-gradient(to right, var(--gradient1), var(--gradient2), var(--gradient1));
}

.tile {
    background-color: rgb(0, 0, 0);
    border: 1px solid transparent;
}

/* .tile:before {
    background-color: rgb(20,20,20);
    content: "";
} */

.tile:hover {
    background-color: rgb(20,20,20);
}

.hex.toggled > .tile:hover {
    opacity: 0.1 !important;
}

.wrapper-descriptions {
    overflow: hidden;
    border: 1px solid var(--color-white);
}

.descriptions {
    display: grid;
    grid-template-columns: 1fr;
    transition: transform 250ms ease-in;
    min-width: 100%;
}

.description {
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    background-color: var(--background-color-1);
    color: var(--background-color-2);
    font-family: 'Montserrat', sans-serif;
    padding: 1.5rem 5rem;
}

.common {
    display: flex;
    gap: 5%;
    padding-right: 2.5rem;
}

.common > .wrapper {
    overflow: hidden;
    display: grid;
}

.wrapper-content {
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
}

.text {
    bottom: 0%;
    transition: 500ms ease;
}

.common:hover .text {
    bottom: 100%;
    transition: 500ms ease;
}

.common:hover .show-project {
    top: 0%;
    transition: 500ms ease;
}

.show-project {
    top: 100%;
    /* background-color: black; */
    transition: 500ms ease;
}

#link-1 {
    border-right: 1px solid var(--background-color-2);
    padding-right: 1%;
}

.btn-rotate {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    padding: 0;
    border: none;
    margin: 0;
    max-width: 50%;
    max-height: 100%;
    transition: 500ms ease;
}

.common:hover .btn-rotate {
    transform: rotate(90deg);
    transition: 500ms ease;
}

button {
    padding: 4rem 5.3rem;
}

.buttons {
    display: flex;
}

#arrow-left {
    font-size: xx-large;
    transform: scale(120%) rotate(180deg);
    transition: 250ms ease;
}

#arrow-right {
    font-size: xx-large;
    transform: scale(120%);
    transition: 250ms ease;
}

.btn-1:hover #arrow-left {
    transform:  rotate(180deg) scale(120%) translateX(50%);
    transition: 250ms ease;
}

.btn-2:hover #arrow-right {
    transform: scale(120%) translate(50%);
    transition: 250ms ease;
}

@media only screen and (max-width: 550px) {

    .hex {
        display: none;
    }

    #nav-mobile {
        display: none;
    }

    .content {
        margin: 0rem;
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 0.4fr 0.1fr;
        font-family: 'Montserrat', sans-serif;
        gap: 0;  
    }

    .wrapper-panels {
        border: none;
    }

    .wrapper-descriptions {
        overflow: hidden;
        border: none;
    }

    .descriptions {
        min-height: 100%;
    }

    .description > h4 {
        font-size: 3vw;
    }

    .description > p {
        margin-top: 0.5rem;
        font-size: 4vw;
    }

    .wrapper-content > h4 {
        font-size: 3vw;
    }

    .wrapper-content > p {
        margin-top: 0.5rem;
        font-size: 3.5vw;
    }

    .description {
        padding: 1.5rem 2rem;
    }

    .common {
        display: flex;
        gap: 5%;
        padding-right: 1rem;
    }

    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        border: none;
    }

    #arrow-left {
        font-size: large;
        transform: scale(120%) rotate(180deg);
        transition: 250ms ease;
    }
    
    #arrow-right {
        font-size: large;
        transform: scale(120%);
        transition: 250ms ease;
    }

    .btn-1:hover #arrow-left, .btn-1:active #arrow-left {
        transform:  rotate(180deg) scale(120%) translateX(50%);
        transition: 250ms ease;
    } 

    .btn-2:hover #arrow-right, .btn-2:active #arrow-right {
        transform: scale(120%) translate(50%);
        transition: 250ms ease;
    }
}