<div class="highlights-wrapper">
  <div class="row one">
    <div class="container-wrapper small" id="instagram">
      <div class="container">
        <div class="img-cont">
          <img src="pic.png" alt="" />
        </div>
      </div>
      <div class="text-cont">
        <p class="title">Instagram</p>
        <p class="description">
          Follow me
          <a href="https://www.instagram.com/i_m_ayush._/" target="_blank">
            &#64;i_m_ayush._</a
          >
        </p>
      </div>
    </div>

    <div class="container-wrapper large" id="content">
      <div class="container">
        <h1>HELLO!</h1>
        <p>
          Hello! I'm
          <i>Ayush Kumar</i>, a Computer Science enthusiast currently in my
          senior year pursuing a B.Tech degree at Birla Institute of Technology,
          Mesra. With a deep passion for problem solving, I thrive in coding
          contests and consistently challenge myself to excel. Beyond contests,
          I channel my enthusiasm into real-world projects, honing my skills in
          diverse languages and technologies. I have hand-on experience on the
          languages and technologies stated below.
        </p>
      </div>

      <div class="text-cont">
        <p class="title">LinkedIn</p>
        <p class="description">
          To know more about me, visit my LinkedIn profile
          <a
            href="https://www.linkedin.com/in/ayush-kumar-75265024a/"
            target="_blank"
          >
            &#64;Ayush_Kumar</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="row two">
    <div class="container-wrapper large" id="content">
      <div class="container">
        <h1>HELLO!</h1>
        <p>
          Hello! I'm
          <i>Ayush Kumar</i>, a Computer Science enthusiast currently in my
          senior year pursuing a B.Tech degree at Birla Institute of Technology,
          Mesra. With a deep passion for problem solving, I thrive in coding
          contests and consistently challenge myself to excel. Beyond contests,
          I channel my enthusiasm into real-world projects, honing my skills in
          diverse languages and technologies. I have hand-on experience on the
          languages and technologies stated below.
        </p>
      </div>

      <div class="text-cont">
        <p class="title">LinkedIn</p>
        <p class="description">
          To know more about me, visit my LinkedIn profile
          <a
            href="https://www.linkedin.com/in/ayush-kumar-75265024a/"
            target="_blank"
          >
            &#64;Ayush_Kumar</a
          >
        </p>
      </div>
    </div>
    <div class="container-wrapper small" id="instagram">
      <div class="container">
        <div class="img-cont">
          <img src="pic.png" alt="" />
        </div>
      </div>
      <div class="text-cont">
        <p class="title">Linktree</p>
        <p class="description">
          Check out all my coding profiles
          <a href="https://linktr.ee/suprhulk" target="_blank">
            &#64;suprhulk</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
