<div class="container">
  <div class="intro">
    <h1 style="font-size: 7vw; margin: 0;">Hello!</h1>
    <h2 style="font-size: 3vw; margin: 0;">WELCOME TO MY <span>PORTFOLIO</span></h2>
    <p style="font-size: x-large; margin: 3rem 0 2rem 0; line-height: 1.6;">I am <span>Ayush Kumar</span>, a Computer Science enthusiast. I am a junior year student, currently enrolled in a B. Tech degree at <span>Birla Institute of Technology</span>, Mesra. My great passion in <span>PROGRAM SOLVING</span> has lead me to participate in several coding contests. I  beef up my coding skills by working on projects. I have hand-on experience on the languages and technologies stated below.</p>
  </div>
  <div class="skillsBtn">
    <md-outlined-button><p style="margin: 0;">Skills</p><span class="material-symbols-outlined">arrow_downward_alt</span></md-outlined-button>
  </div>
</div>
