<div class="header-wrapper">
  <div class="hero-heading section">
    <h1 [innerHTML]="heroHeading"></h1>
    <div class="work">
      <div class="job">
        <span class="material-symbols-outlined"> work </span>
        <p class="title">Recent Experience</p>
        <p class="description">Student</p>
      </div>
      <div class="location">
        <span class="material-symbols-outlined"> location_on </span>
        <p class="title">location</p>
        <p class="description">Ranchi, Jharkhand, India</p>
      </div>
    </div>
  </div>
  <div class="activity section">
    <p class="activity-type">{{ Type[activity!.type] }}</p>
    <div class="content">
      <div class="img-cont">
        <img src="{{ activity!.imageUrl }}" alt="activity-photo" />
      </div>
      <div class="activity-desc">
        <div class="name-cont">
          <div class="img-cont">
            <img src="{{ TypeValues[activity!.type] }}" alt="" />
          </div>
          <p class="name">{{ activity!.name }}</p>
        </div>
        <p class="details">{{ activity!.details }}</p>
        <p class="state">{{ activity!.state }}</p>
      </div>
    </div>
  </div>
</div>
