<div class="header-wrapper">
  <div class="hero-heading section">
    <h1 [innerHTML]="heroHeading"></h1>
    <div class="work">
      <div class="job">
        <span class="material-symbols-outlined"> work </span>
        <p class="title">Recent Experience</p>
        <p class="description">Student</p>
      </div>
      <div class="location">
        <span class="material-symbols-outlined"> location_on </span>
        <p class="title">location</p>
        <p class="description">Ranchi, Jharkhand, India</p>
      </div>
    </div>
  </div>
  <div class="activity section">Coming Soon</div>
</div>
