.header-wrapper {
  /* border: 1px solid red; */
  /* background-color: #333; */

  background-color: black;
  color: white;

  font-family: "Roboto", sans-serif;

  display: flex;

  padding-bottom: 5rem;
}

.hero-heading > h1 {
  font-size: 7em;
  font-weight: 200;
}

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;

  margin-top: 4rem;
}

.job,
.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;

  border-radius: 5px;

  flex: 1;
}

.activity {
  width: 40%;
  border: 1px solid red;

  margin-top: 10rem;
}
