<div class="highlights-wrapper">
  <div class="row one">
    <div class="container-wrapper small" id="instagram">
      <div class="container">
        <div class="img-cont">
          <img src="pic.png" alt="" />
        </div>
      </div>
      <div class="text-cont">
        <p class="title">Instagram</p>
        <p class="description">
          Follow me
          <a href="https://www.instagram.com/i_m_ayush._/" target="_blank">
            &#64;i_m_ayush._</a
          >
        </p>
      </div>
    </div>

    <div class="container-wrapper large" id="content">
      <div class="container">
        <h1>HELLO!</h1>
        <p>
          I'm
          <i>Ayush Kumar</i>, a Computer Science enthusiast currently in my
          senior year pursuing a B.Tech degree at Birla Institute of Technology,
          Mesra. With a deep passion for problem solving, I thrive in coding
          contests and consistently challenge myself to excel. Beyond contests,
          I channel my enthusiasm into real-world projects, honing my skills in
          diverse languages and technologies. I have hand-on experience on the
          languages and technologies stated below.
        </p>
      </div>

      <div class="text-cont">
        <p class="title">LinkedIn</p>
        <p class="description">
          To know more about me
          <a
            href="https://www.linkedin.com/in/ayush-kumar-75265024a/"
            target="_blank"
          >
            &#64;Ayush_Kumar</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="row two">
    <div class="container-wrapper large" id="technology">
      <div class="container">
        <div class="languages-wrapper">
          <p class="title">Language and Frameworks</p>
          <div class="languages">
            <p class="description language">
              <i class="fa-brands fa-java"></i>Java
            </p>
            <p class="description language">
              <i class="fa-brands fa-js"></i>Javascript
            </p>
            <p class="description language">
              <i class="fa-brands fa-angular"></i>Angular
            </p>
            <p class="description language">
              <i class="fa-brands fa-react"></i>React
            </p>
            <p class="description language">
              <i class="fa-brands fa-node-js"></i>NodeJS
            </p>
            <p class="description language">
              <i class="fa-brands fa-html5"></i>HTML
            </p>
            <p class="description language">
              <i class="fa-brands fa-css3"></i>CSS
            </p>
          </div>
        </div>
        <div class="tools-wrapper">
          <p class="title">Dev Tools</p>
          <div class="tools">
            <p class="description language">
              <i class="fa-brands fa-docker"></i>Docker
            </p>
            <p class="description language">
              <i class="fa-brands fa-git-alt"></i>Git
            </p>
            <p class="description language">
              <i class="fa-brands fa-github"></i>GitHub
            </p>
            <p class="description language">
              <i class="fa-brands fa-linux"></i>Linux
            </p>
          </div>
        </div>
      </div>

      <div class="text-cont">
        <p class="title">GitHub</p>

        <p class="description">
          Check out my GitHub
          <a href="https://github.com/suprHUlk/" target="_blank">
            &#64;suprhulk</a
          >
        </p>
      </div>
    </div>
    <div class="container-wrapper small" id="linktree">
      <div class="container">
        <div class="quote">
          <h2 class="heading">
            {{ quote.quote }}
          </h2>
          <p class="description">
            {{ quote.author }}
          </p>
        </div>
      </div>
      <div class="text-cont">
        <p class="title">Linktree</p>
        <p class="description">
          Check out all my coding profiles
          <a href="https://linktr.ee/suprhulk" target="_blank">
            &#64;suprhulk</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
